.MuiTabs-flexContainer{
    border-bottom: 1px solid var(--background-aditional);
    gap: 20px;

    button{
        color: var(--main-text);
        border-radius: 12px;
        text-transform: lowercase;

        &:hover{
            background-color: transparent;
        }

        &.Mui-selected{
            color: var(--main-text);
            font-weight: 500 !important;
        }
    }

}

.MuiTabs-indicator{
    background-color: var(--text-contrast) !important;
}

.MuiTabs-root{
    margin-bottom: 15px;
}

.MuiTabPanel-root{
    grid-template-columns: repeat(12, 1fr);
    overflow: auto;
    display: grid;
    padding: 0px !important;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root{
    background-color: var(--background-lightest) !important;
    color: var(--main-text) !important;
}